@CHARSET "ISO-8859-1";

* {
  margin: 0;
  padding: 0; 
}
#body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#forms {
	height: 200px;
	width: 630px;
	overflow: auto;
  margin-right: auto;
  margin-left: auto;
}
#results {
	height: 200px;
	width: 630px;
	overflow: auto;
	margin-right: auto;
  margin-left: auto;
}
#selectedforms {
	height: 200px;
	overflow: auto;
}
#search-bar {
  background-color: red;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
}
#search-input {
  width: 100%;
}
#search-bar-inner {
  display: table;
  width: 100%;
  padding: 10px;
}
#search-input-span {
  display: table-cell;
  width: 100%;
}
#results {
  display: none;
}
.form {
	padding: 5px 0px 10px 15px;
}
.form:nth-child(odd) { 
  background-color:#eee;
}
.form:nth-child(even) { 
  background-color:#ddd;
}
.form-tag {
  background-color: green;
  margin-right: 5px;
  padding: 0px 3px 2px 5px;
  border-radius: 5px;
}
.form-tag-delete {
  color: red;
  text-decoration: none;
  padding-left: 5px;
}
.add-tag-input {
  width: 100px;  
}
.result {
	margin-left: 15px;
	min-height: 50px;
}
.result:nth-child(odd) { 
  background-color:#eee;
}
.result:nth-child(even) { 
  background-color:#ddd;
}
.result-field {
  border: 1px solid black;
  border-radius: 5px;
  background-color: blue;
  margin-right: 3px;
  color: white;
  padding: 0px 3px 0px 3px;
}

.result-check-container {
  float: left;
  margin-right: 10px;
  padding-top: 1px;
}
.result-item-container {
  float: left;
}
.result {
  clear: both;
}
.results {
  clear: both;
}
    